/* cores
#fd789d bg index
#faffc7 box
#white botoes
#450E30 texto e borda

fontes google
- elsie 
- averia
- jersey 15 */


/* fontes */

.elsie-swash-caps-regular,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
.tituloindex,
summary {
    font-family: "Elsie Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
    color: #450E30;
}

.jersey-10-regular,
a {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.averia-serif-libre-regular,
.parag,
.paragreceitas,
ul,
ol,
label,
th,
.biscoito {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
}


/* icones */

i {
    margin-right: 8px;
}

.icones {
    font-size: 45px;
}


/* botao voltar  */

.botaofixed {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    background-color: white;
}

#botaovoltar {
    font-size: 36px;
    color: #450E30;
}


/* geral */

* {
    box-sizing: border-box;
}

body {
    background-color: #fd789d;
    background-image:
        radial-gradient(#f0c5d4 3px, transparent 1px),
        radial-gradient(#f0c5d4 3px, transparent 1px);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    margin: 0;
}

.main {
    padding: 75px;
    margin: 50px 200px;
    background-color: #faffc7;
    border-style: double;
    border-color: #450E30;
    border-width: 10px;
    border-radius: 40px;
}

.titulo {
    color: #450E30;
    font-size: 60px;
    margin-top: 15px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #450E30;
}


/* nav bar */

nav {
    background-color: #450E30;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 15px;
}

nav a {
    color: #450E30;
    background-color: white;
    border-radius: 22px;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #f0c5d4;
}

span {
    color: #450E30;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
}

span:hover {
    background-color: #f0c5d4;
}


/* index */

.index_main {
    border-style: double;
    border-color: #450E30;
    border-width: 10px;
    border-radius: 50px;
    background-color: #faffc7;
    padding: 55px;
    margin: 55px 250px;
}

.tituloindex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 65px;
    color: #450E30;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.links {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    font-size: 40px;
    background-color: #fd789d;
    padding: 10px;
    border: #faffc7 double 8px;
    border-radius: 50px;
    
}

.biscoito {
    font-size: 20px;
    color: #450E30;
    text-align: center;
    background-color: #fd789d;
    border: #faffc7 double 8px;
    border-radius: 50px;
}

.links a {
    color: #450E30;
    padding: 10px 25px;
}

.biscoito p {
    padding: 10px 75px;
}



.feed {
    text-align: center;
    margin: 0 67px;
}

.post {
    display: flex;
    gap: 12px;
    text-align: justify;
}

.header {
    display: flex;
}

.data {
    font-size: 14px;
    color: #888;
}

.texto {
    margin: 6px 0 12px;
}

.nome,
.usuario,
.data {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
}


/* receitas */

.paragreceitas {
    text-align: center;
}

summary {
    font-size: 40px;
    color: #450E30;
    padding-left: 80px;
    padding-bottom: 15px;
}

summary:hover {
    color: #fd789d;
}

.receita {
    margin-left: 80px;
}


/* contato */

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

input:not(#html, #css, #js) {
    width: 60%;
    height: 30px;
}

.botaoformulario {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.botaoformulario button {
    width: 100px;
    height: 40px;
    border: #450E30 solid 2px;
    color: #450E30;
}


/* about */

.curiosidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotokoda {
    margin-right: 50px;
}

.about {
    text-align: center;
}

.album {
    text-align: center;
}


/* curriculo */

th {
    color: #450E30;
}

td,
th {
    text-align: left;
    padding: 8px;
    border: #450E30 solid 1px;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.competencias {
    text-align: center;
}

.experiencia h1 {
    text-align: center;
}

.titulocurriculo {
    text-align: center;
}

.experiencia {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


/* funcoes js */

.textoNormal {
    font-size: 20px;
}

.aumentarTexto {
    font-size: 26px;
}

.diminuirTexto {
    font-size: 14px;
}