html {
    scroll-behavior: smooth;
}

:root {
    --bg-body: #fd789d;
    --bg-box: #faffc79f;
    --button-color: #ffffff;
    --text-color: #450E30;
    --nav-hover: #f0c5d4;
}

.parag {
    font-size: 20px;
}

/* fontes */

.elsie-swash-caps-regular,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
.tituloindex,
summary {
    font-family: "Elsie Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

.jersey-10-regular,
a,
.barcontent h1,
.biscoito {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.averia-serif-libre-regular,
.parag,
.paragreceitas,
ul,
ol,
label,
th{
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
}


/* icones */

i {
    margin-right: 8px;
}

.icones {
    font-size: 45px;
}


/* botao voltar  */

.botaofixed {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    background-color: var(--button-color);
}

#botaovoltar {
    font-size: 36px;
    color: var(--text-color);
}


/* geral */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
    margin: 0;
}

.main {
    padding: 75px;
    margin: 30px 200px;
    background-color: var(--bg-box);
    border-radius: 10px;
    border: var(--text-color) solid 3px;
}

.titulo {
    color: var(--text-color);
    font-size: 60px;
    margin-top: 15px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: var(--text-color);
}


/* nav bar */

nav {
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 15px;
}

nav a {
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: 22px;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--nav-hover);
}

nav span {
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
}

nav span:hover {
    background-color: var(--nav-hover);
}


/* index */

.index_main {
    border-style: double;
    border-color: var(--text-color);
    border-width: 10px;
    border-radius: 50px;
    background-color: var(--bg-box);
    padding: 55px;
    margin: 15px 250px;
}

.tituloindex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 65px;
    color: var(--text-color);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.links {
    display: flex;
    flex-direction: row-reverse;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    background-color: var(--bg-body);
    border: var(--bg-box) double 8px;
    border-radius: 50px;
}

.biscoito {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    background-color: var(--bg-body);
    border: var(--bg-box) double 8px;
    border-radius: 50px;
}

.links a {
    color: var(--text-color);
    padding: 10px 25px;
}

.links a:hover {
    color: var(--bg-box);
}

.biscoito p {
    padding: 10px 75px;
}

.biscoito p:hover {
    color: var(--bg-box);
}


/* receitas */

.paragreceitas {
    text-align: center;
}

summary {
    font-size: 40px;
    color: var(--text-color);
    padding-left: 80px;
    padding-bottom: 15px;
}

summary:hover {
    color: var(--bg-body);
}

.receita {
    margin-left: 80px;
}


/* contato */

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

input:not(#html, #css, #js) {
    width: 60%;
    height: 30px;
}

.botaoformulario {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.botaoformulario button {
    width: 100px;
    height: 40px;
}

textarea {
    width: 60%;
}


/* about */

.curiosidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curiosidade img {
    border-radius: 20%;
}

.fotokoda {
    margin-right: 50px;
}

.about,
.album {
    text-align: center;
}

.scrollbar {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.barcontent {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    background-color: #faffc7a9;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.barcontent a {
    text-decoration: none;
}

.scrollbar img {
    width: 250px;
    border-radius: 10px;
}

.scrollbar h1:hover {
    color: var(--bg-body);
    font-weight: bold;
}

.favs {
    text-align: center;
}


/* curriculo */

th {
    color: var(--text-color);
    font-weight: bold;
}

td,
th {
    text-align: left;
    padding: 8px;
    border: var(--text-color) solid 1px;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.competencias,
.titulocurriculo {
    text-align: center;
}

.experiencia {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


/* funcoes js */

.textoNormal {
    font-size: 20px;
}

.aumentarTexto {
    font-size: 26px;
}

.diminuirTexto {
    font-size: 14px;
}